<input class="checkbox" type="checkbox" />
<div id="menu-lateral">
    <div class="titulo">
        <h2> MENU </h2>
    </div>
    <ul>
        <li><a routerLink="/bindings" routerLinkActive="linkSelected"> Exemplo Bindings</a></li>
        <li><a routerLink="/imc" routerLinkActive="linkSelected"> Calculo IMC</a></li>
        <li><a routerLink="/microwave" routerLinkActive="linkSelected"> Micro-ondas</a></li>
        <li><a routerLink="/class" routerLinkActive="linkSelected"> Ng Class</a></li>
        <li><a routerLink="/style" routerLinkActive="linkSelected"> Ng Style</a></li>
        <li><a routerLink="/if" routerLinkActive="linkSelected"> Ng If</a></li>
        <li><a routerLink="/for" routerLinkActive="linkSelected"> Ng For</a></li>
        <li><a routerLink="/switch" routerLinkActive="linkSelected"> Ng Switch</a></li>
        <li><a routerLink="/pipe" routerLinkActive="linkSelected"> Ng Pipe</a></li>
        <li><a routerLink="/model" routerLinkActive="linkSelected"> Ng Model</a></li>
    </ul>
</div>