.menu{
    color: gray;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(100, 97, 97, 0.479);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.479);
} 

li{
    list-style: none;
    color: black;
    font-weight: bold;
}