.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    background: rgb(200, 240, 255);
    background: linear-gradient(0deg, rgba(200, 240, 255, 1) 0%, rgba(101, 157, 255, 1) 100%);
    min-height: 100vh;
}