<h1>Microondas App</h1>


<div class="microwave-container">
    <div class="microwave-display">
        {{ formatTime(minutes) }}:{{ formatTime(seconds) }}
    </div>
    <div class="microwave-keypad">
        <div class="microwave-plusspad">
            <div class="keypad-pluss" (click)="addTime(10)"> +10</div>
            <div class="keypad-pluss" (click)="addTime(60)"> +1:00</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-number" (click)="addNumber(1)">1</div>
            <div class="keypad-number" (click)="addNumber(2)">2</div>
            <div class="keypad-number" (click)="addNumber(3)">3</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-number" (click)="addNumber(4)">4</div>
            <div class="keypad-number" (click)="addNumber(5)">5</div>
            <div class="keypad-number" (click)="addNumber(6)">6</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-number" (click)="addNumber(7)">7</div>
            <div class="keypad-number" (click)="addNumber(8)">8</div>
            <div class="keypad-number" (click)="addNumber(9)">9</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-number" (click)="addNumber(0)">0</div>
        </div>
        <div class="keypad-row">
            <button [disabled]="isRunning==true || seconds == 0 && minutes == 0" class="button" (click)="startTimer()">Start</button>
            <button [disabled]="seconds == 0 && minutes == 0" class="button" (click)="stopTimer()">Stop</button>
        </div>
    </div>
</div>