button {
    width: 50% !important;
    cursor: pointer;
    background: #4ab3c6;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
    align-self: center;
}

input:not([type="radio"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input {
    outline: none;
}

label {
    color: #000000;
    position: relative;
    font-weight: bold;
}
legend{
    color: black;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

body {
    min-height: 100%;
    background-color:lightgray;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100%;
}
.content {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    width: 25%;
    margin-top: 5%;
}


form {
    margin-bottom: 15px;
    color: gray;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(100, 97, 97, 0.479);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.479);
}

a {
    text-decoration: none;
}
p{
   color: black;
    font-weight: bold
   
}